header .header{
	display: inline;
	text-align: center;
	font-weight: 900;
}
.header .heading a {
	color: blue;
	font-style: italic;
}
.about .button {
	height: 25px;
	background-color:red;
	border-color:blue;
	border-radius: 20%;
	color:white;
	font-weight: 900;;
}
.about .button span {
	color: black;

/*===================================================*/}
.container1 {
        margin: 3em;
	font-family: sans-serif;
	display: flex;
	justify-content: space-evenly
}
table {
	font-size: 100%;
	display: table;
	box-sizing: border-box;
	text-indent: initial;
	border-spacing: 1px;
	width: 30em;
	height: 25em;
}
.table {
	margin-right: 10em;
	background-color: rgb(231, 216, 197);
	margin-top: 2em;
	border: 5px solid black;
	border-collapse: collapse;
}
tbody {
	padding: 5.5 3;
}
.table, th {
        border: 3px solid black;
        border-collapse: collapse;
        padding: 6px;
}
.table td span {
	color: rgb(7, 107, 12);
}
.table td i {
	font-weight: 600;
}
.table td {
	color: rgb(3, 0, 0);
	border: 2px solid rgb(230, 87, 87);
        border-collapse: collapse;
        padding: 6px;
}
/*==============================================================*/
.Naming {
	font-size: 17px;
	inline-size: 40em;
	margin-right: 10em;
}
.Naming h3 {
	text-align: center;
	font-size: 2em;
}
.Naming u {
	font-style: italic
}
.Naming a {
	color: rgb(17, 0, 255);
}
/*==================================================*/
.container {
	inline-size: 0em;
	text-align: center;
	margin-left: 25em;
}
#naming {
	margin-left: 13.3em;
	background-color: antiquewhite;
	width: 10em;
	font-size: 2em;
	font-weight: 500;
}
#form {
	margin-left: 30em;
	justify-content: space-around;
}
#form label {
	font-weight: 800;
	font-size: 1.3em;
}
#form span {
	font-style: italic;
	font-weight: 600;
}
#form input {
	padding-top: 15px;
}
#form #btn {
	color: aliceblue;
	font-weight: 700;
	background-color: crimson;
	margin-top: 5px;
	height: 2em;
	border-radius: 20%;
}
/*======================================================*/
footer {
	display: flex;
	justify-content: space-evenly;
	background-color: aqua;
}
.social {
	margin-top: 3em;
}
.social a {
        color: rgb(33, 19, 241);
	font-size: 1.5em;
}
.social2 a img {
	margin-top: 25px;
	border-radius: 10em;
}
.social2 a {
	color: rgb(33, 19, 241);
	font-size: 1.5em;
}
.social3 img {
	margin-top: 20px;
	border-radius: 10em;
}
.social3 a {
	color: rgb(33, 19, 241);
	font-size: 1.5em;
}
.social4 a {
	color: rgb(33, 19, 241);
	font-size: 1.5em;
}
.social4 img {
	margin-top: 25px;
	border-radius: 10em;
}
/*====================================================*/
.email {
	margin-bottom: 50px;
}
#footer1 {
	font-size: 2em;
}
#form {
	display: flex;
}
#form label {
	font-size: 1.5em;
}
#form #btn {
	color: rgb(33, 19, 241);
	box-shadow: 2px 2px 1px gold;
	border-radius: 6%;
	text-align: center;
	font-size: 30px;
}
.email span {
	color: red;
	font-size: 1.5em;
}
.alert {
	text-align: center;
	padding: 10px;
	background: greenyellow;
	color: rgb(90, 38, 38);
	display: none;
}
/*=======================================================*/
.copyright {
	text-align: center;
	background-color: aquamarine;
	height: 2em;
}
.copyright span {
	color: red;
	font-weight: 1000;
	font-size: 20px;
}