header .header{
	display: inline;
	text-align: center;
	font-weight: 900;
}
.header .heading a {
	color: blue;
	font-style: italic;
}
.about .button {
	height: 25px;
	background-color:red;
	border-color:blue;
	border-radius: 20%;
	color:white;
	font-weight: 900;;
}
.about .button span {
	color: black;

/*===================================================*/}
.container1 {
        margin: 3em;
	font-family: sans-serif;
	display: flex;
	justify-content: space-evenly
}
table {
	font-size: 100%;
	display: table;
	box-sizing: border-box;
	text-indent: initial;
	border-spacing: 1px;
	width: 30em;
	height: 25em;
}
.table {
	margin-right: 10em;
	background-color: rgb(231, 216, 197);
	margin-top: 2em;
	border: 5px solid black;
	border-collapse: collapse;
}
tbody {
	padding: 5.5 3;
}
.table, th {
        border: 3px solid black;
        border-collapse: collapse;
        padding: 6px;
}
.table td span {
	color: rgb(7, 107, 12);
}
.table td i {
	font-weight: 600;
}
.table td {
	color: rgb(3, 0, 0);
	border: 2px solid rgb(230, 87, 87);
        border-collapse: collapse;
        padding: 6px;
}
/*==============================================================*/
.Naming {
	font-size: 17px;
	inline-size: 40em;
	margin-right: 10em;
}
.Naming h3 {
	text-align: center;
	font-size: 2em;
}
.Naming u {
	font-style: italic
}
.Naming a {
	color: rgb(17, 0, 255);
}
/*==================================================*/
.container {
	inline-size: 2em;
	text-align: center;
	margin-left: 24em;
}
#naming {
	margin-left: 11em;
	background-color: antiquewhite;
	width: 12.5em;
	font-size: 2em;
	font-weight: 500;
}
#form {
	width: 20em;
	margin-left: 24em;
	text-align: center;
}
#form label {
	font-weight: 800;
	font-size: 1.3em;
}
#form span {
	margin-right: 2em;
	margin-top: 2em;
	font-style: italic;
	font-weight: 600;
}
#form #day {
	height: 2.5em;
	width: 6.5em;
}
#form #month {
	height: 2.5em;
	margin-left: 0px;
}
#form input {
	width: 6.5em;
	padding-top: 15px;
}
#form .gender {
	display: flex;
}
#form #btn {
	width: 10em;
	color: aliceblue;
	font-weight: 900;
	font-size: 15px;
	background-color: crimson;
	margin-top: 15px;
	height: 2.5em;
	border-radius: 20%;
}
/*======================================================*/
footer {
	margin-top: 15px;
	display: flex;
	justify-content: space-evenly;
	background-color: aqua;
}
.media {
	font-size: 1.5em;
}
.media button {
	background-color: darkblue;
	color: whitesmoke;
	font-size: 17px;
	font-weight: 600;
}
.facebook a {
        color: rgb(33, 19, 241);
}
.twitter a img {
	margin-top: 5px;
	border-radius: 10em;
}
.twitter a {
	color: rgb(33, 19, 241);
}
.email img {
	margin-top: 5px;
	border-radius: 10em;
}
.email a {
	color: rgb(33, 19, 241);
}
.github a {
	color: rgb(33, 19, 241);
}
.github img {
	margin-top: 5px;
	border-radius: 10em;
}
/*====================================================*/
.sub-header {
	font-size: 1.5em;
}
.sub-header button {
	background-color: darkblue;
	color: whitesmoke;
	font-size: 20px;
	font-weight: 600;
}
.call {
	display: flex;
	justify-content: space-around;
}
.call img {
	margin-top: 10px;
	border-radius: 40%;
}
.call button {
	background-color: rgba(128, 128, 128, 0.733);
	margin-top: 10%;
	font-size: 20px;
	border-radius: 2em;
}
.text {
	display: flex;
	justify-content: space-around;
}
.text img {
	margin-top: 10px;
	border-radius: 40%;
}
.text button {
	background-color: rgba(128, 128, 128, 0.733);
	margin-top: 10%;
	border-radius: 2em;
	font-size: 20px;
}
.whatsapp {
	display: flex;
	justify-content: space-around;
}
.whatsapp img {
	margin-top: 10px;
	border-radius: 40%;
}
.whatsapp button {
	background-color: rgba(9, 192, 24, 0.664);
	color: red;
	border-radius: 2em;
	margin-top: 10%;
	font-size: 1.2em;
}
/*=======================================================*/
.location {
	margin-top: 3em;
}
.location button {
	width: 8.5em;
	background-color: darkblue;
	color: whitesmoke;
	font-size: 17px;
	font-weight: 600;
}
.location a {
	color: blue;
}
/*=======================================================*/
.copyright {
	text-align: center;
	background-color: aquamarine;
	height: 2em;
}
.copyright span {
	color: red;
	font-weight: 1000;
	font-size: 20px;
}