header .header{
	display: inline;
	text-align: center;
	font-weight: 900;
}
.header .heading a {
	color: blue;
	font-style: italic;
}
.about .button {
	height: 25px;
	background-color:red;
	border-color:blue;
	border-radius: 20%;
	color:white;
	font-weight: 900;;
}
.about .button span {
	color: black;

/*===================================================*/}
.container1 {
	display: flex;
	justify-content: space-between;
}